{{ define "content" }}
<!-- Home Section -->
<section id="home-section">
    <h1>ASCII Art Generator</h1>
    <form action="/ascii-art" method="post">
        <h2 name="err">{{.Result.Err}}</h2>
        <label for="text">Text:</label>
        <textarea id="text" name="text" maxlength="700" required>{{.Result.Text}}</textarea>
        <!-- Retain the value -->
        <fieldset>
            <legend>Select a banner:</legend>
            <label><input type="radio" name="banner" value="shadow" {{if eq .Result.Banner "shadow"}}checked{{end}} required checked> Shadow</label>
            <label><input type="radio" name="banner" value="standard" {{if eq .Result.Banner "standard"}}checked{{end}}> Standard</label>
            <label><input type="radio" name="banner" value="thinkertoy" {{if eq .Result.Banner "thinkertoy"}}checked{{end}}> Thinkertoy</label>
        </fieldset>

        <button type="submit">Generate ASCII Art</button>
        <button type="button" onclick="clearText()">Clear Text</button>
    </form>

    <!-- Place to display results -->

    <div id="reload">
        <pre>{{- .Result.Symbol -}}</pre>
    </div>
</section>

<!-- About Us Section -->
<section id="about-section">
    <h2>About Us</h2>
    <p>Welcome to the About Us section. Here you can describe your project, your team, or the purpose of the website.</p>
    <div class="container">
        <h1>Meet Our Team</h1>
        <div class="team">
            <div class="member">
                <img src="person1.jpg" alt="Person 1">
                <h3>John Doe</h3>
                <p>Lead Developer</p>
                <p>John is a passionate developer with over 10 years of experience in web development. He specializes in full-stack development and loves creating intuitive web applications.</p>
            </div>
            <div class="member">
                <img src="person2.jpg" alt="Person 2">
                <h3>Jane Smith</h3>
                <p>UI/UX Designer</p>
                <p>Jane is a talented designer who focuses on creating user-friendly designs. She has a keen eye for detail and enjoys bringing ideas to life through her designs.</p>
            </div>
            <div class="member">
                <img src="person3.jpg" alt="Person 3">
                <h3>Mark Johnson</h3>
                <p>Project Manager</p>
                <p>Mark is an experienced project manager who ensures everything runs smoothly. He is great at coordinating teams and keeping projects on track.</p>
            </div>
        </div>
    </div>
</section>

{{ end }}