<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ASCII Art generator website">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Add your CSS file -->
</head>

<body>
    <header>
        <h1>ASCII-ART</h1>
        <nav>
            <ul>
                <li><a href="#home-section">Home</a></li>
                <li><a href="#about-section">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ block "content" . }}{{ end }}
    </main>

    <footer>
        <p>© 2024 My Website</p>
    </footer>

    <script src="../assets/js/script.js" defer></script>
    <!-- Path corrected for JS -->
</body>

</html>