<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>

<body>
    <header>
        <h1>ASCII-ART</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        </main>
    </header>

    <main>
        {{ block "content" . }}{{ end }}
    </main>

    <footer>
        <p>© 2024 My Website</p>
    </footer>
    <script src="../assets/js/script.js" defer></script>
</body>

</html>